<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Items</title>
        <meta charset="UTF-8" />
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h1>Feedbacks</h1>

        <ul>
            <li th:each="feedback : ${feedbacks}">
                <span th:text="${feedback.content}">feedback</span> (<span th:text="${feedback.content}">idunno</span>$)
                <form th:action="@{/feedbacks/{id}(id=${feedback.id})}" th:method="POST">
                    <input type="submit" value="Add a feedback"/>
                </form>
            </li>
        </ul>
        
        <h2>Add feedback</h2>

        <form th:action="@{/feedbacks}" method="POST">
            <span>Name:</span>
            <input type="text" name="content"/>
        </form>
    </body>
</html>